.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 100%;
}
.msg {
  font-size: 0.9375rem;
  margin-top: 2px;
}
.ok {
  color: var(--accent);
}
.err {
  color: var(--primary);
}
